

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Entorno virtual
venv/
venv_old/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Llaves SSH (IMPORTANTE)
*.pem
*.key

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración locales
.env

# Archivos estáticos recopilados
staticfiles/
static/

# Archivos de logs
*.log
gunicorn-*.log

# Otros
Trabajo-4/
